*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #d5d5d5;
}

img{
    width: 100%;
}

html{
    font-size: 62.5%;
}